[submodule "src/github.com/cloudfoundry-incubator/cephdriver"]
	path = src/github.com/cloudfoundry-incubator/cephdriver
	url = https://github.com/cloudfoundry-incubator/cephdriver.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "src/github.com/cloudfoundry-incubator/volman"]
	path = src/github.com/cloudfoundry-incubator/volman
	url = https://github.com/cloudfoundry-incubator/volman.git
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager.git
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata.git
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat.git
[submodule "src/github.com/cloudfoundry-incubator/cf_http"]
	path = src/github.com/cloudfoundry-incubator/cf_http
	url = https://github.com/cloudfoundry-incubator/cf_http
[submodule "src/github.com/cloudfoundry-incubator/cf-debug-server"]
	path = src/github.com/cloudfoundry-incubator/cf-debug-server
	url = https://github.com/cloudfoundry-incubator/cf-debug-server.git
[submodule "src/github.com/cloudfoundry-incubator/cf-lager"]
	path = src/github.com/cloudfoundry-incubator/cf-lager
	url = https://github.com/cloudfoundry-incubator/cf-lager.git
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit.git
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "src/github.com/pivotal-golang/clock"]
	path = src/github.com/pivotal-golang/clock
	url = https://github.com/pivotal-golang/clock.git
